<nav class="navbar">
    <div class="left-nav">
        <h1>{{title}}</h1>
        <button class="btn-toggle">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="right-nav">
        <ul>
            <li><a href="/">Translate</a></li>
            <li><a href="/dictionary">Dictionary</a></li>
            <li><a href="/">Text-To-Speech</a></li>
            <li><a href="/grammercheck">Grammer Check</a></li>
        </ul>
    </div>
</nav>